{% extends 'base.html' %} 

{% block header %}
{% endblock header %}

{% block content %}
<table border="0" height="100%" width="100%">
  <tr>
    <td style="height:100%;" vertical-align="middle" align="center">
    
      <div class="container">
       
        <div class="container-fluid">

         <h1 class="h3 mb-3 font-weight-normal">登録完了しました</h1>
          <a href="{% url 'top' %}" class="btn btn-primary">スタート画面へ</a>

        </div>
   
      </div>
        

    </td>
  </tr>
</table>    

    
  {% endblock content %}
