{% extends 'base.html' %} 
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}




{% load static %}

<audio autoplay loop>
  <source src="{% static 'cat life.m4a' %}" type="audio/mp3">
  
</audio>









<table border="0" height="100%" width="100%">
  <tr>
    <td style="height:100%;" vertical-align="middle" align="center">
    
      <div class="container">
       
        <div class="container-fluid">
          
        
        
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <font size="20em" face="游明朝 Demibold" >ボン人検定</font>      
              
            </div>
          </div>       
        
        <br><br><br><br>
        <div class="row">
        <div class="col-md">
        <a href="{% url 'loginview' %}" class="btn btn-primary btn-block">ログイン</a>
      
        <br>
        </div>
        <div class="col-md">
        <a href="{% url 'create_user' %}" class="btn btn-primary btn-block">新規登録</a>
    
       

       
        </div>
        </div>
        <!--<img class="mb-4" src="{% static 'animal_stand_saru.png' %}" alt="" width="72" height="72">-->
        
        </div>    
        </div>
        
        </div>
    </td>
  </tr>
  <tr>
    <td align="center">
      <font size="2">Created by ぼch.水溜り研究所 2020/11-12</font>

    </td>
  </tr>

</table>
    
  {% endblock content %}
